.h2o-rating-section{
    padding-bottom: 20px;

    &__box{
        display: flex;
        flex-direction: column;
        grid-gap: clamp(30px, 3.7037vw, 40px);
    }

    &__info{
        padding-bottom: 10px;

        img{
            width: clamp(100px, 13.8889vw, 150px);
            aspect-ratio: 1;
            float: left;
            margin-right: clamp(15px, 2.3148vw, 25px);
        }
    }

    .h2o-list-bar{
        padding-bottom: 15px;
    }
}