.h2o-mobile-menu{
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    grid-gap: 35px;
    transform: translateX(-230%);
    transition: all .4s;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    top: var(--header-height);
    padding: 15px 20px 15px;
    z-index: 30;
    padding-top: 32%;
    background: rgba(var(--cl-b),.8);
   
    &.active {
        transform: translateX(0);
    }

    .h2o-main-nav{
        flex-direction: column;

        @include for-mobile{
            grid-gap: 20px;
        }
        @include mobile{
            grid-gap: 10px;
        }

        &__link{
            padding: 15px 0;
            justify-content: center;
            font-size: 18px;
            border-radius: 0;
        }
    }
}