.h2o-about-section{
    padding-bottom: 40px;
    overflow: hidden;
 
    &__box{
        display: flex;
        flex-direction: column;
        grid-gap: clamp(18px, 2.2222vw, 24px);

      
    }

    &__inner{
        display: flex;
        grid-gap: clamp(18px, 2.2222vw, 24px);
        flex-direction: column;

        &--mode{
            grid-gap: 20px;

            .h2o-main-box{
                grid-gap: 16px;
            }
        }
    }

    &__image{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}