<footer>
  <div class="h2o-container h2o-container--mode">
    <div class="h2o-footer">
        <div class="h2o-footer__top">
              <a href="index.html" class="h2o-logo">
                WIN <b>SLOT-KZ</b>
                <span class="h2o-logo__label">.com</span>
              </a>
         
              <div class="h2o-footer-nav">
                <ul class="h2o-footer-nav__list">
                  <li class="h2o-footer-nav__item"><button class="h2o-footer-nav__link h2o-play">ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</button></li>
                  <li class="h2o-footer-nav__item"><button class="h2o-footer-nav__link h2o-play">ОТВЕТСТВЕННАЯ ИГРА</button></li>
                  <li class="h2o-footer-nav__item"><button class="h2o-footer-nav__link h2o-play">КОНТАКТЫ</button></li>
                </ul>
              </div>
        </div>
       
        <div class="h2o-footer__bottom">
          <ul class="h2o-footer-links">
            <li class="h2o-footer-links__item">
              <button class="h2o-footer-links__btn h2o-play"><i class="h2o-icon-dmca"></i></button>
            </li>
            <li class="h2o-footer-links__item">
              <button class="h2o-footer-links__btn h2o-play"><i class="h2o-icon-gamble"></i></button>
            </li>
            <li class="h2o-footer-links__item">
              <button class="h2o-footer-links__btn h2o-play"><i class="h2o-icon-ecogra"></i></button>
            </li>
            <li class="h2o-footer-links__item">
              <button class="h2o-footer-links__btn h2o-play"><i class="h2o-icon-18"></i></button>
            </li>
          </ul>
        
          <p>Проект WinSlot-KZ носит исключительно информационно-ознакомительный характер. Мы не принимаем платежи от пользователей и не оказываем платные услуги. Вся информация, представленная на ресурсе, регулярно обновляется и поддерживается в актуальном состоянии. Азартные игры – это всего лишь увлекательный досуг. Не пытайтесь сделать из онлайн-гэмблинга источник дохода, это приводит к неоправданным тратам и крупным потерям денежных средств.</p>
          
          <span class="h2o-footer__copyright">Copyright © 2022 WinSlot-KZ. All rights reserved.</span>
  
        </div>
    </div>
  </div>
</footer>