<header class="h2o-header">
  <div class="h2o-container h2o-container--mode">
    <div class="h2o-header__box">

      <a href="index.html" class="h2o-logo">
        WIN <b>SLOT-KZ</b>
        <span class="h2o-logo__label">.com</span>
      </a>

      <ul class="h2o-main-nav">
        <li class="h2o-main-nav__item">
          <a href="#" class="h2o-main-nav__link active">
            Казино
          </a>
        </li>
        <li class="h2o-main-nav__item">
          <a href="#" class="h2o-main-nav__link">
            Бонусы
          </a>
        </li>
        <li class="h2o-main-nav__item">
          <a href="#" class="h2o-main-nav__link">
            Слоты
          </a>
        </li>
        <li class="h2o-main-nav__item">
          <a href="#" class="h2o-main-nav__link">
            Провайдеры
          </a>
        </li>
        <li class="h2o-main-nav__item">
          <a href="#" class="h2o-main-nav__link">
            Рулетка
          </a>
        </li>
        <li class="h2o-main-nav__item">
          <a href="#" class="h2o-main-nav__link">
            Блог
          </a>
        </li>
      </ul>

      <button class="h2o-burger">
        <span class="h2o-burger__line"></span>
      </button>
    </div>

    

    <div class="h2o-mobile-menu">
      <ul class="h2o-main-nav">
        <li class="h2o-main-nav__item">
          <a href="#" class="h2o-main-nav__link active">
            Казино
          </a>
        </li>
        <li class="h2o-main-nav__item">
          <a href="#" class="h2o-main-nav__link">
            Бонусы
          </a>
        </li>
        <li class="h2o-main-nav__item">
          <a href="#" class="h2o-main-nav__link">
            Слоты
          </a>
        </li>
        <li class="h2o-main-nav__item">
          <a href="#" class="h2o-main-nav__link">
            Провайдеры
          </a>
        </li>
        <li class="h2o-main-nav__item">
          <a href="#" class="h2o-main-nav__link">
            Рулетка
          </a>
        </li>
        <li class="h2o-main-nav__item">
          <a href="#" class="h2o-main-nav__link">
            Блог
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>