<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="Description" content="Best Casino">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Лучшие Онлайн Казино Казахстана</title>

    <link rel="preload" href="static/fonts/exo2-light.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="static/fonts/exo2-regular.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="static/fonts/exo2-medium.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="static/fonts/exo2-bold.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="static/fonts/exo2-extrabold.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="static/fonts/exo2-black.woff" as="font" crossorigin="anonymous">
    
    <link rel="stylesheet" href="static/css/style.css">
</head>
