.h2o-list-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -40px;

  &__item {
    width: 32%;

    &:hover {
      .h2o-list-bar__box {
        margin-top: -5px;
      }
    }
  }

  &__image {
    width: 75px;
    height: 75px;
    display: block;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__box {
    overflow: hidden;
    background: rgba(var(--bg-a), 1);
    border-top: 4px solid rgba(var(--bg-c), 1);
    border-bottom: 3px solid rgba(var(--cl-g), 1);
    box-shadow: 0 0 18px rgb(0 0 0 / 10%);
    position: relative;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include for-mobile{
      padding: 10px 0 15px;
    }

    @include mobile{
      padding: 10px 5px 15px;
    }
  }

  &__title {
    text-align: center;
    color: rgba(var(--cl-j), 1);
    font-weight: 900;
    text-decoration: underline;
    font-size: 16px;
    text-transform: uppercase;
  }

  &__btn {
    position: absolute;
    inset: 0;
    z-index: 5;
    border-radius: inherit;
  }
}
